<?xml version="1.0"?>

<configuration>
	<connectionStrings>    
	<add name="photoBase" connectionString="Data Source=|DataDirectory|PhotoBase.sdf"  providerName="System.Data.SqlServerCe.4.0"/>
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<system.webServer>
		 <modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
